
/* you dont need this CSS in your project */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,700);

.parallax-img-container{
  width: 106.15vw;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body{
  width: 100%;
  background-color: #D9ACF5;
  overflow: hidden;
}
.morestuff{
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.banner{
  width: 100%;
  height: 100vh;
  height: 100vh;
  overflow: hidden;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.morestuff{
  align-items: center;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  cursor: pointer;
  color: #fff;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-weight: bold;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #A084DC;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  
}
.content h1{
  font-size: 70px;
  margin-top: 80px;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  

}
span{
  background: #A084DC;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}

h1{
  font-family: "Helvetica Neue", "Arial", sans-serif;
  position: center;
  text-align: center;
 
  color: #fff;
  
  top: 150px;

}

.left-container {
  background: rgba(0,0,0,0.3);
  width: 300px;
  border-radius: 10px ;
  padding: 50px;
  text-align: center;
  margin: 115px;
  color: #fff ;
}
.left-container:hover{
  background-color: rgba(0,0,0,0.3);
  transform: scale(1.04);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration:4s;
}
.middle-container {
  background: rgba(0,0,0,0.3);
  width: 300px;
  border-radius: 10px ;
  padding: 50px;
  text-align: center;
  margin-left: auto;
  color: #fff;
}
.middle-container:hover{
  background-color: rgba(0,0,0,0.3);
  transform: scale(1.04);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 4s;
}
.right-container {
  background: rgba(0,0,0,0.3);
  width: 300px;
  border-radius: 10px ;
  padding: 50px;
  text-align: center;
  margin-left: 100px;
  color:#fff
}
.right-container:hover{
  background-color: rgba(0,0,0,0.3);
  transform: scale(1.04);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 4s;
}
.table{
     
    align-items: right;
}
.cc{
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    color: #fff;
    justify-content: space-between;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: 110px;
}
.body-container{
  
  align-items: center;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: silver;
    border-width: 5px;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    
}
p{
  font-size: 20px;
}

.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: #cc8af5;
  color: white;
  text-align: right;
}




section:nth-of-type(1) {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1950px;
  text-align: center;
}
article {
  padding: 0 0;
  margin: 0;
  height: 100%
}
section:nth-of-type(1) article:nth-of-type(1) h1 {
  padding-top: 2em
}

section:nth-of-type(1) article:nth-of-type(1) 
section:nth-of-type(1) article:nth-of-type(1) h3 {
  color: rgb(225, 187, 187);
  margin: 1em 0 0.5em 0
}
section:nth-of-type(2) article:nth-of-type(1) {
  
  width: 100%;
  height: 1100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100%;
  text-align: center;
  color: rgb(121, 79, 79);
  overflow: hidden;
  position: relative;
}